<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description"
    content="{{ if .IsHome }}{{ .Site.Params.homeInfoParams.Content }}{{ else }}{{ .Plain | truncate 160 }}{{ end }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&family=Noto+Sans+SC:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{{ " css/terminal-garden.css" | relURL }}">
<link rel="stylesheet" href="{{ " css/image-zoom.css" | relURL }}">
<style>
    body {
        opacity: 0;
        animation: fadeInPage 0.5s ease-out forwards;
    }

    @keyframes fadeInPage {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>